<!-- <section class="w-1/2 mx-auto bg-red-700 p-4 rounded border-2 shadow text-white">
    <h1 class="text-3xl text-center text-white font-light">{{'Login Now'| translate}}</h1>
    <form [formGroup]="login" (ngSubmit)="submitFrom()">

        <div class="mb-1">
            <label for="Email" class="block mb-2 text-sm font-medium text-white dark:text-white">{{'email'| translate}}</label>
            <input formControlName="email" type="email" id="Email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @if (login.get('email')?.errors && login.get('email')?.touched) { 
             <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                @if (login.get('email')?.getError('required')) {  <li>Email is Required </li>}
                 @else if (login.get('email')?.getError('email')) { <li>Enter Vaild Email </li>}
              </ul>
            </div>
          </div>}
        </div>
        <div class="mb-1">
            <label for="password" class="block mb-2 text-sm font-medium text-white dark:text-white">{{'password'| translate}}</label>
            <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (login.get('')?.errors && login.get('password')?.touched) { 
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
               <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                 <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
               </svg>
               <span class="sr-only">Danger</span>
               <div>
                   <ul class="mt-1.5 list-disc list-inside">
                   @if (login.get('password')?.getError('required')) {  <li>password is Required </li>}
                    @else if (login.get('password')?.getError('pattern')) { <li>Enter Vaild password </li>}
                 </ul>
               </div>
             </div>}
        </div>

        <div class="flex items-center justify-end gap-4">
          <a routerLink="/forgot" class=" bg-black border-black text-white px-10 py-2 border rounded hover:bg-red-700 duration-700 hover:border-red-700" >{{'Forget Password'| translate}}</a>

          <button [disabled]="loading"  type="submit" class="bg-black border-black text-white px-10 py-2 border rounded  hover:bg-red-700 duration-700 flex items-end hover:border-red-700 hover:text-black ">Login Now
          @if (loading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
          </button>
        </div>



      @if (msgerror) {  <p class="bg-red-600 text-white px-2 py-4 border">{{msgerror}}</p>}

     
      @if (succes) {
        <p class="bg-green-600 text-white px-2 py-4 border">{{succes}}</p>
      }

    </form>
</section> -->


<section class="register mx-auto   ">
  <div class="flex ">
<div class="w-full md:w-1/2 bg-bg-color max-h-screen overflow-y-auto py-80 flex items-center">
  <div class="w-full px-5 md:px-0 md:w-[75%] mx-auto  h-full">
    <h1 class="text-[1.75rem] sm:text-[2rem] text-text-color"> Welcome Back! </h1>
    <p class="text-secText-color mb-5">Please log in or sign up to continue using our app.</p>
    <form [formGroup]="login" (ngSubmit)="submitFrom()">

      <div class="mb-1">
          <label for="Email" class="block mb-2 text-sm font-medium  dark:text-white">{{'email'| translate}}</label>
          <input formControlName="email" type="email" id="Email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (login.get('email')?.errors && login.get('email')?.touched) { 
           <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
              @if (login.get('email')?.getError('required')) {  <li>Email is Required </li>}
               @else if (login.get('email')?.getError('email')) { <li>Enter Vaild Email </li>}
            </ul>
          </div>
        </div>}
      </div>
      <div class="mb-1">
          <label for="password" class="block mb-2 text-sm font-medium  dark:text-white">{{'password'| translate}}</label>
          <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if (login.get('')?.errors && login.get('password')?.touched) { 
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
             <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
               <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
             </svg>
             <span class="sr-only">Danger</span>
             <div>
                 <ul class="mt-1.5 list-disc list-inside">
                 @if (login.get('password')?.getError('required')) {  <li>password is Required </li>}
                  @else if (login.get('password')?.getError('pattern')) { <li>Enter Vaild password </li>}
               </ul>
             </div>
           </div>}
      </div>


      <div>
        <a routerLink="/forgot" class=" underline text-sm text-main-color" >{{'Forget Password'| translate}}</a>

        <button [disabled]="loading"  type="submit" class="  text-white px-10 py-2 border rounded  main-btn ">Login Now
        @if (loading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
        </button>
      </div>



    @if (msgerror) {  <p class="bg-red-600 text-white px-2 py-4 border">{{msgerror}}</p>}

   
    @if (succes) {
      <p class="bg-green-600 text-white px-2 py-4 border">{{succes}}</p>
    }
 

    </form>
    <p class="mt-5 pb-10 text-center text-secText-color "> Don't have an account?  <a routerLink="/Register" class="underline text-main-color">Register</a> </p>
  </div>
</div>
<div class="hidden md:block h-5 w-1/2"><img src="/images/auth-slider2.jpg" alt=""></div>

</div>


</section>


