// .card{
//     button{
//         transform: translateY(100%);
//         transition: all 0.5s;
//         opacity: 0;
//     }
//     &:hover{
//         button{
//             transform: translateY(0);
//             opacity: 1;
//         }
       
//     }
// }

.text-secText-color{
    background: #8B5E35;

}

.main-btn i{
    color: white;
    z-index: 999;
}