.color{
    color: #8b5e35;
}


.register{
    color: black;
}


    

.main-btn {
    margin-top: .75rem;
    margin-bottom: .75rem;
    width: 100%;
    border-radius: 9999px;
    background-color:  #8b5e35;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color:  #fff
 
}


.text-secText-color{
    color: #8b5e35;
}