.text-main-color{
    color: #8b5e35;
}
.text-secText-color{
    color: #8b5e35;
}


    


.p-overlaybadge , .p-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0;
    margin: 0;
    outline-style: solid;

}
