
<!-- <footer class="bg-black py-10 text-white">
  <div class="w-11/12 ">
    <h2 class="m-0 tw text-2xl">Get The FreshCart App</h2>
    <p class="text-white text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap">
      <input
        type="text"
        class="w-full rounded-lg border-gray-300"
        placeholder="Email"
      />
      <button class="btn-main">Share App Link</button>
    </div>

    <hr />

    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment partners</h3>
        <img src="/images/amazon-pay.png" width="50px" alt="" />
        <img src="/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/images/paypal.png" width="50px" alt="" />
        <img src="/images/mastercard.webp" width="50px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
        <img src="/images/get-google-play.png" width="100px" alt="" />
        <img src="/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer> -->

<footer class="py-sec-p bg-[#2E2E2E] text-white px-16">
  <div class="container max-w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-12 xl:gap-40 justify-center">
      <div class="lg:col-span-3 xl:col-span-2">
        <h2 class="text-[24px] mb-4">Trendify</h2>
        <p class="text-gray-400 text-sm mb-4"> Join Our newsletter to stay up to date on feautres and releases. </p>
        <div class="group flex items-center sm:gap-3 mb-3 flex-col sm:flex-row">
          <input type="email" placeholder="Enter your email" class="p-3 flex-1 rounded-lg outline-none border border-main-color w-full mb-2 sm:w-auto sm:mb-0 ">
          <button class="bg-main-color text-main-color text-white py-3 px-6 border border-white rounded-lg w-full sm:w-auto hover:bg-secondry-color transition-colors duration-300"> Subscribe </button>
        </div>
        <p class="text-xs">
          By Subscribeing you agree to with our Privacy Policy and provide consent to receive updates from our company 
        </p>
      </div>
        <ul class="about-us flex flex-col gap-y-4 ng-star-inserted">
          <h4  class="font-semibold">About Us</h4>
            
          <li>
           <a>FAQ</a>
          </li>
           <li>
            <a>Contact</a>
           </li>
           <li>
            <a>Returns</a>
          </li>
          <li>
            <a>Blog</a>
          </li>
           <li>
            <a>Shipping</a>
           </li>

        </ul>
        <ul class="customer flex flex-col gap-y-4 text-nowrap ng-star-inserted">
          <h4  class="font-semibold">Customer Support</h4>
            
          <li>
           <a>Affiliates</a>
          </li>
          <li>
            <a>Apply Pay Payments</a>
          </li>
           <li>
            <a>Returns</a>
          </li>
           <li>
            <a>Returns Policy</a>
           </li>
           <li>
            <a>Returns</a>
           </li>

        </ul>
        <ul class=" flex flex-col gap-y-4 ">
          <h4  class="font-semibold">Follow Us</h4>
            
          <li>
           <a><i class=" text-2xl fa-brands fa-facebook-f me-4"></i></a>
          </li>
           <li>
            <a><i class=" text-2xl  fa-brands fa-instagram me-4"></i></a>
          </li>
           <li>
            <a><i class=" text-2xl  fa-brands fa-twitter me-4"></i></a>
           </li>
          <li>
            <a><i class=" text-2xl  fa-brands fa-linkedin me-4"></i></a>
          </li>


        </ul>
        

    </div>
  </div>
</footer>